<p>viewdetail works!</p>

<table class="table">
    <thead></thead>
    <tr>
        <th>Id</th><th>Category</th><th>Quantity

        </th><th>Price</th><th>CGST</th><th>SGST</th>
         <th>Total</th> <th>Pay</th>
    </tr>
    <tbody>
        <tr>
            <td>2</td>
            <td>Pizza</td>
            <td>1</td>
            <td>200</td>
            <td>20</td>
            <td>20</td>
            <td>240</td>
            <td><a href="/payment"
                class="btn btn-primary">pay now</a></td>
        </tr>
    </tbody>

</table>
